<% var pages = [{name:'Home', url:'/'}, {name:'Download', url:'/download'}, {name:'Players', url:'/players'}]; %>
<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="container">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
   <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <a class="navbar-brand" href="/">Rule and Conquer</a>
    <ul class="nav navbar-nav"> 


        <% for (var i = 0; i < pages.length; i++) 
          if (page_name != null) 
            if (pages[i].name == page_name) {%>
              <li class="nav-item active">
               <a class="nav-link" href="<%=pages[i].url%>"><%=pages[i].name%><span class="sr-only">(current)</span></a>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="nav-link" href="<%=pages[i].url%>"><%=pages[i].name%></a>
              </li>
            <% } %>
      
      <% if (user == null) { %>
        <li class="nav-item float-xs-right">
          <a class="nav-link" href="/signup">
            Sign up</a>
        </li>
        <li class="nav-item float-xs-right">
          <a class="nav-link" href="/login">Log in</a>
        </li>

      <% } else { %>
        <li class="nav-item float-xs-right">
          <a class="nav-link" href="/profile">
            <%= user %>
          </a>
      <% } %>
    </ul>
  
  </div>
  </div>
  
</nav>  

<div class="container">
  <div class="well">
    <% if (success.length > 0) { %>
      <div class="alert alert-success">
        <strong>Success!</strong>
        <%= success %>
      </div>
    <% } %>

    <% if (error.length > 0) { %>
      <div class="alert alert-danger">
        <strong>Error!</strong>
        <%= error %>
      </div>
    <% } %>

    <% if (info.length > 0) { %>
      <div class="alert alert-info">
        <strong>Info</strong>
          <%= info %>
      </div>
    <% }%>
  </div>
</div>